/* TODO: code all the map layout */

.page-container{
	display: flex;
}

.results{
	flex-grow: 1;
}

#map {
  height: 100vh !important;
  flex: 0 0 500px;
  position: sticky !important;
  top: 0px !important;
}
