.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  20px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo{
	height: 40px;
}

.navbar .avatar{
	width: 40px;
	border-radius: 50%;
}

.navbar .menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links a{
	padding: 30px;
}

.links a:last-child {
	padding-right: 60px;
}

.links a:hover {
  color: #DF0054;
}